version: 2.1

gpu: &gpu
  machine:
    image: ubuntu-2004-cuda-11.4:202110-01
  resource_class: gpu.nvidia.large

commands:
  install_system_dependencies:
    steps:
      - run:
          name: "Update apt"
          command: sudo apt update
      - run:
          name: "Install Graphviz/Dot"
          command: sudo apt install graphviz

  setup_python:
    parameters:
      python_version:
        type: string
        # Python <= 3.8 required to install gurobipy==9.1.1
        default: "3.8.6"
    steps:
      - run:
          name: "Install and set Python"
          command: |
            pyenv install << parameters.python_version >>
            pyenv global << parameters.python_version >>
      - run:
          name: "Create Virtual environment"
          command: |
            pip install virtualenv
            python -m venv ~/venv
            echo "source ~/venv/bin/activate" >> $BASH_ENV
      - run:
          name: "Update pip"
          command: |
            pip install --upgrade pip

  install_python_dependencies:
    steps:
      - run:
          name: "Install Python dependencies"
          command: |
            pip install gurobipy==9.5.2 -r requirements.txt --extra-index-url https://download.pytorch.org/whl/nightly/cu113

  run_tests_gurobi:
    steps:
      - run:
          name: "Run tests with optimizer=Gurobi"
          command: |
            python -m unittest discover -s tests --pattern "*_test.py"

  install_olla:
    steps:
      - run:
          name: "Install olla from source"
          command: |
            pip install gurobipy==9.1.1 . --extra-index-url https://download.pytorch.org/whl/nightly/cu113

  test_external_import:
    steps:
      - run:
          name: "Import install olla components out-of-source"
          command: |
            cd
            python -c "import olla"
            python -c "from olla import optimize"

jobs:
  ubuntu_python_3_8_6_torch_cuda_11_3:
    <<: *gpu
    steps:
      - install_system_dependencies
      - setup_python
      - checkout
      - install_python_dependencies
      - run_tests_gurobi

  ubuntu_python_3_8_6_torch_cuda_11_3_install:
    <<: *gpu
    steps:
      - install_system_dependencies
      - setup_python
      - checkout
      - install_olla
      - test_external_import

workflows:
  build-test:
    jobs:
      - ubuntu_python_3_8_6_torch_cuda_11_3:
          name: "Ubuntu | Python 3.8.6 | CUDA 11.3 | Gurobi"
      - ubuntu_python_3_8_6_torch_cuda_11_3_install:
          name: "Ubuntu | Python 3.8.6 | CUDA 11.3 | Gurobi | Installation Test"
